<div ng-controller="managerMentorProfile">
  <ul>
     <li ng-repeat="question in mentorResolved">
     <p><span>Question: </span>{{$index + 1}}</p>
     <p>Status: <span ng-if="question.response.status == true"> Answered</span><span ng-if="question.response.status == false"> Not Answered</span></p>
     <p><span>Submited </span><time-ago from-time='{{ question.created_at}}' format='MM/dd/yyyy'></time-ago></p>
     <p>Claimed {{question.response.created_at | amDifference : question.created_at : 'minutes' }} minutes later</p>
     
     <p><span>Title: </span>{{question.title}}</p>
     <p><span>Body: </span>{{question.body}}</p>
      
      
      <div hm-read-more
          hm-text="{{question.response.answer}}" 
          hm-limit="10" 
          hm-more-text="read more" 
          hm-less-text="read less"
          hm-dots-class="dots"
              hm-link-class="links">
      </div>
     </li>
   </ul>
</div>

  <a ui-sref="managerMentorsList">Mentors</a>   

