%div{"ng-controller" => "studentDashController"}
  %h1 Welcome {{ currentUser.name }}
  %h2 All answered questions ({{resolvedQuestions.length}})
  %input{"ng-model" => "search.language", :placeholder => "filter by language", :type => "text"}
  %table
    %thead
      %tr
        %th{:rowspan => "2"} Submit By
        %th{:colspan => "3"} questions
        %th{:rowspan => "2"} Answers
        %th{:rowspan => "2"} by
        %th{:rowspan => "2"} votes
      %tr
        %th title
        %th body
        %th language
    %tbody
      %tr{"ng-repeat" => "quest in resolvedQuestions | filter: search"}
        %td {{quest.student.name}}
        %td 
          %a{"ui-sref" => "studentLayout.studentViewQuestion({id:quest.id})"} {{quest.title}}
        %td {{quest.body}}
        %td {{quest.language}}
        %td {{quest.response.answer}}
        %td {{quest.mentor.name}}
        %td {{quest.get_upvotes.length - quest.get_downvotes.length}}
        / %td {{quest.votes_for.size}}
        %td
          %button{"ng-click" => "upVoteQuestion(quest)", :type => "submit"} Upvote
          %button{"ng-click" => "downvoteVoteQuestion(quest)", :type => "submit"} Downvote  
  %h2 Your questions
  %table
    %thead
      %tr
        %th{:rowspan => "2"} Submit By
        %th{:colspan => "6"} questions
        %th{:rowspan => "2"} Answers
        %th{:rowspan => "2"} Answer By
      %tr
        %th title
        %th body
        %th language
        %th answer
        %th delete
        %th edit
    %tbody
      %tr{"ng-repeat" => "question in currentStudentQuestions"}
        %td {{question.student.name}}
        %td 
          %a{"ui-sref" => "studentLayout.studentViewQuestion({id:question.id})"} {{question.title}}
        %td {{question.body}}
        %td {{question.language}}
        %td{"ng-if" => "question.response.status == true"} {{question.response.answer}}
        %td{"ng-if" => "question.response.status == true"} {{question.mentor.name}}
        %td{"ng-if" => "question.response.status == false"} Not answered
        %td{"ng-if" => "question.response.status == false"} {{question.mentor.name}}
        %td{"ng-if" => "question.response.status == nil"} Not claimed yet
        %td{"ng-if" => "question.response.status == nil"}
          %form{"ng-submit" => "deleteQuestion(question)"}
            %button Delete
        %td{"ng-if" => "question.response.status == nil"}
          %a{"ui-sref" => "studentLayout.studentEditQuestion({id:question.id})"} Edit
  %a{"ui-sref" => "studentLayout.studentRequest"} Ask a question

.panel
  .wrapper-lg
    %h2.m-t-none
      %a{:href => ""} Bootstrap 3: What you need to know
    %div
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.
      %h3 Html5 and CSS3
      %p
        Phasellus at ultricies neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.
    .line.line-lg.b-b.b-light
    .text-muted
      %i.fa.fa-user.text-muted
      by
      %a.m-r-sm{:href => ""} Admin
      %i.fa.fa-clock-o.text-muted
      Feb 15, 2013
      %a.m-l-sm{:href => ""}
        %i.fa.fa-comment-o.text-muted
        4 comments
