%div.col-lg-10.col-md-offset-1.wrapper-md{"ng-controller" => "studentDashController"}
  %h4 Welcome {{ currentUser.name }}
  %form.m-b-md.ng-pristine.ng-valid{:action => "#"}
    .input-group
      %input.form-control.input-lg{"ng-model" => "search.language", :placeholder => "filter by language", :type => "text"}
     
  %uib-tabset{:active => "active"}
    %uib-tab
      %uib-tab-heading
        %i.icon-like
        Resolved {{resolvedQuestions.length}}
      .col-lg-12.b-a
        .panel.m-t-md{"ng-repeat" => "quest in resolvedQuestions | filter: search"}
          .wrapper-lg
            %h2.m-t-none
            %a{"ui-sref" => "studentLayout.studentViewQuestion({id:quest.id})"}
              %h3 {{quest.title}}
            .text-muted
              
              %span Submited 
              %i.icon-clock
              %time-ago{:format => "MM/dd/yyyy", "from-time" => "{{ quest.created_at}}"}
              by
              %i.icon-fire
              %span {{quest.student.name}}
              Answered by 
              %i.icon-user
              %span {{quest.mentor.name}} 
            %div
            %br
              %p {{quest.body}}
              %div
                %h4 ANSWER:
                %p{"hm-dots-class" => "dots", "hm-less-text" => "read less", "hm-limit" => "100", "hm-link-class" => "links", "hm-more-text" => "read more", "hm-read-more" => "", "hm-text" => "{{quest.response.answer}}"}
            .line.line-lg.b-b.b-light
            .text-muted
              %button.btn.m-b-xs.btn-sm.btn-success.btn-addon{"ng-click" => "upVoteQuestion(quest)", :type => "submit"} Up
                %i.icon-like.pull-left>
              {{quest.get_upvotes.length - quest.get_downvotes.length}}
              %button.btn.m-b-xs.btn-sm.btn-danger.btn-addon{"ng-click" => "downvoteVoteQuestion(quest)", :type => "submit"} Down
                %i.icon-dislike.pull-right>
            
                 
                
              %p language: {{quest.language}}
                %span{"ng-if" => "quest.language == 'ruby'"}
                  %i.icon-diamond
             
    %uib-tab
      %uib-tab-heading
        %i.icon-list
        Your questions {{currentStudentQuestions.length}}
      .col-lg-12.b-a
        .panel.m-t-md{"ng-repeat" => "question in currentStudentQuestions | filter: search"}
          .wrapper-lg
            %h2.m-t-none
            %a{"ui-sref" => "studentLayout.studentViewQuestion({id:question.id})"}
              %h3 {{question.title}}
            .text-muted
              
              %span Submited 
              %i.icon-clock
              %time-ago{:format => "MM/dd/yyyy", "from-time" => "{{ question.created_at}}"}
              by
              %i.icon-fire
              %span {{question.student.name}}
              %span{"ng-if" => "question.response.status == null"}, not Claimed yet
              %span{"ng-if" => "question.response.status == false"}, Claimed by
                %i.icon-user
                %span {{question.mentor.name}}
              %span{"ng-if" => "question.response.status == true"}, Answered by
                %i.icon-user
                %span {{question.mentor.name}}
            %div
            %br
              %p {{question.body}}
              %div{"ng-if" => "question.response.status == true"}
                %h4 ANSWER:
                %p{"hm-dots-class" => "dots", "hm-less-text" => "read less", "hm-limit" => "100", "hm-link-class" => "links", "hm-more-text" => "read more", "hm-read-more" => "", "hm-text" => "{{question.response.answer}}"}

            .line.line-lg.b-b.b-light
            .text-muted
                                
                
              %p language: {{question.language}}
                %span{"ng-if" => "question.language == 'ruby'"}
                  %i.icon-diamond

