  <div ng-controller="studentAcceptCtrl">
    <h2>You have been invited</h2>
    <form method="post" ng-submit="accept()" ng-init="acceptForm = {}">
      <input type="password" ng-model="acceptForm.password" value="" placeholder="password">
      <input type="password" ng-model="acceptForm.passwordConfirmation" value="" placeholder="password confirmation">
      <input type="text" ng-model="acceptForm.name" placeholder="username">
      <button type="submit" name="button">accept</button>
    </form>   
  </div>

  
