%div.col-lg-10.col-lg-offset-1{"ng-controller" => "mentorDashController"}
  %h1 Welcome {{user.name}}!
  %button.btn-status.btn.m-b-xs.btn-sm.btn-primary.btn-addon
    %input{"ng-change" => "editStatus(mentor.status, mentor.id)", "ng-model" => "mentor.status", :type => "checkbox"}
    %span{"ng-if" => "mentor.status == true" } busy
    %span{"ng-if" => "mentor.status == false"} online

  %h4 unclaimed questions list ({{unclaimedQuestions.length}})
    .m-l-lg.panel.b-a{'ng-repeat' => "question in unclaimedQuestions"}
      .panel-heading.pos-rlt.b-b.b-light
        %span.arrow.left
        %a{:href => ""} {{question.title}}
        %span.text-muted.m-l-sm.pull-right
          %i.fa.fa-clock-o
            %time-ago{:format => "MM/dd/yyyy", "from-time" => "{{ question.created_at}}"}
      .panel-body
        %div Language: {{question.language}}
        %div Question: {{question.body}}
        %div{"ng-if" => "question.screenshot == false"} Picture: {{question.screenshot}}
        by
        %i.icon-fire
        %span {{question.student.name}}
        .m-t-sm
        .m-t-sm
          %a.btn.btn-default.btn-xs{:href => "", 'ng-click'=> "claimQuestion(question)"}
            %i.fa.fa-mail-reply.text-muted
            Claim Question

    %h4 Questions I claimed ({{claimedQuestions.length}})
      .m-l-lg.panel.b-a{'ng-repeat' => "question in claimedQuestions"}
        .panel-heading.pos-rlt.b-b.b-light
          %span.arrow.left
          %a{:href => ""} {{question.title}}
          %span.text-muted.m-l-sm.pull-right
            %i.fa.fa-clock-o
              %time-ago{:format => "MM/dd/yyyy", "from-time" => "{{ question.created_at}}"}
        .panel-body
          %div Language: {{question.language}}
          %div Question: {{question.body}}
          %div{"ng-if" => "question.screenshot == false"} Picture: {{question.screenshot}}
          %span Submited by:
          %i.icon-fire
          %span {{question.student.name}}
          .m-t-sm
            %a.btn.btn-default.btn-xs{:href => "", 'ng-init'=> "showForm = false", 'ng-click'=> "showForm = !showForm"}
              %i.fa.fa-mail-reply.text-muted
              Answer Now
            %form{"ng-show" => "showForm", "ng-submit" => "addResponse(answer, question.id)"}
              %textarea{"ng-model" => "answer"}
              %button{:type => "submit", 'ng-click'=> "showForm = !showForm"} Submit

    %h4 All Questions
    %button.btn.m-b-xs.w-xs.btn-default.btn-rounded{'ng-click'=> "viewAll(question)"} View All Questions
    .m-l-lg.panel.b-a{'ng-repeat' => "question in questions"}
      .panel-heading.pos-rlt.b-b.b-light
        %span.arrow.left
        %a{:href => ""} {{question.title}}
        %span.text-muted.m-l-sm.pull-right
          %i.fa.fa-clock-o
      .panel-body
        %div Language: {{question.language}}
        %div Question: {{question.body}}
        %span Submited
        %i.icon-clock
          %time-ago{:format => "MM/dd/yyyy", "from-time" => "{{ question.created_at}}"}
        by
        %i.icon-fire
        %span {{question.student.name}}
        %p{"ng-if" => "question.response.status == false"} Claimed {{question.response.created_at | amDifference : question.created_at : 'minutes' }} minutes later by {{question.mentor.name}}.
