<h1>Ask your question here</h1>
<div ng-controller="studentRequestController">
	<form ng-submit="addQuestion()">
	  <p>
	    <label for="title">Title </label>
	    <input type="text" id="title" required ng-model="titleForm">
	  </p>
	  <p>
	    <label for="body">Body </label>
	    <input type="text" id="body" required ng-model="bodyForm">
	  </p>
	  <p>
	    <label for="language">language</label>
	    <input type="text" id="language" required ng-model="languageForm">
	  </p>
	  <button>Submit</button>
	</form>
</div>