.panel.panel-default{"ng-controller" => "managerMentors"}
  .panel-heading
    List of AlMakinah's Mentors
  %div
    %table.table{"ui-jq" => "footable", "ui-options" => "{\r\n        \"paging\": {\r\n          \"enabled\": true\r\n        },\r\n        \"filtering\": {\r\n          \"enabled\": true\r\n        },\r\n        \"sorting\": {\r\n          \"enabled\": true\r\n        }}"}
      %thead
        %tr
          %th Name
          %th Status
          %th Email
          %th 
      %tbody
        %tr{"data-expanded" => "true", "ng-repeat" => "mentor in allMentors"}
          %td {{mentor.name}}
          %td 
            %p{"ng-if" => "mentor.status == true"} available
            %p{"ng-if" => "mentor.status == false"} busy
          %td {{mentor.email}}
          %td 
            %a{"ui-sref" => "managerLayout.managerMentorProfile({id:mentor.id})"} Profile
        
%a{"ui-sref" => "managerLayout.managerDash"} Dashboard