%div{"ng-controller" => "managerMentors"}
  %h1 Mentors' List
  %ul
    %li{"ng-repeat" => "mentor in allMentors"}
      %p {{mentor.email}}
      %p{"ng-if" => "mentor.status == true"} available
      %p{"ng-if" => "mentor.status == false"} busy
      %a{"ui-sref" => "managerLayout.managerMentorProfile({id:mentor.id})"} Profile
%a{"ui-sref" => "managerLayout.managerDash"} Dashboard
