/ list
%ul.nav
  %li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
    %span{:translate => "aside.nav.HEADER"} Navigation
  %li{"ui-sref-active" => "active"}
    %a{"ui-sref" => "managerLayout.managerMentorsList"}
      %i.icon-book-open
      %span.font-bold Mentors
  %li{"ui-sref-active" => "active"}
    %a{"ui-sref" => "managerLayout.managerStudentsList"}
      -#%b.badge.bg-primary.pull-right 10
      %i.icon-fire
      %span.font-bold Students
