%div{"ng-controller" => "managerLogController"}
  %nav
    %button#logout{:name => "button", "ng-click" => "signOutUser()", "ng-if" => "manager_logged_in", :type => "button"} Logout
    in manager layout
    %ui-view
