%div{"ng-controller" => "studentLogController"}
  %nav
    %button#logout{:name => "button", "ng-click" => "signOutUser()", "ng-show" => "student_logged_in", :type => "button"} Logout
  this is my layout
  %ui-view
